* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 125, 255, 0.5);
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.material-icons.md-48 {
    font-size: 10rem;
}

.lg-text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.sm-text {
    font-size: 1.5rem;
}

#dynamic {
    position: relative;
    display: inline-block;
}

#dynamic::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

#dynamic.active::after {
    display: none;
}